@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: darkblue;
}

h2 {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

a {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

.description {
    margin-left: 50px;
    margin-bottom: 50px;
}

.date, #date {
    padding-left: 70px;
}

#red {
    color: red;
}

.add {
    color: green;

    margin-left: 50px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.table {
    margin-top: 20px;
    margin-left: 50px;
}