@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
    list-style: none;
	text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 10px;
    align-items: center;
    gap: 20px;
}

h1 {
    align-self: center;
    font-family: 'Oswald', sans-serif;
    color: darkblue;
}

a .logout {
    align-self: center;
    color: darkblue;
}